@font-face {
    font-family: "Proxima Nova";
    src: url(/src/fonts/proxima_nova.ttf) format("truetype");
  }
  @font-face {
    font-family: "OpenSans";
    src: url(/src/fonts/OpenSans-Regular.ttf) format("truetype");
  }
body{
    font-family: Proxima Nova;
}


.title-lg{
  font-size: 48px;
}

.heading-lg{
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
