$white: #ffffff;
$red:#ff0000;
$gun-powder: #3e3e58;
$greyish: #b1b1b180;
$puerto-rico: #3dbdb6;
$puerto-rico_1: #1890a480;
$white-grey: #f9fafa;
$mine-shaft: #333333;
$lochmara: #0089ce;
$moody-blue: #7a86cc;
$jordy-blue: #9facf8;
$froly: #f3778f;
$froly_1: #f26a95;
$brilliant-rose: #f15a9d;
$slate-gray: #72808e;
$dodger-blue: #2d8cff;
$tundora: #4a4a4a;
$denim: #1172d0;
$curious-blue: #1d98d6;
$downriver: #081941;
$bright-gray: #39394d;
$bluish-black: #1f2532;
$storm-gray:#6d6d80;
//borders, box-shaddows
$gigas: #4449a2;
$light-grey: #eeeeee;
