.logos{
    padding: 40px 0;
    background-color: $white-grey;
    border: solid 1px $light-grey;
    text-align: center;
    li{
        display: block;
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    img{
        width: 123px;
        height: 29px;
        object-fit: contain;
    }
}

.get-support{
    padding: 40px 0;
    text-align: center;
    .heading-lg{
        margin-bottom: 25px;
    }
}