.sign_up-btn {
    display: block;
    background-color: $puerto-rico;
    padding: 16px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: -0.32px;
    box-shadow: 0 1px 6px 0 $gigas;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $puerto-rico;
      background-color: $white;
    }
  }