.hero {
  position: relative;
  background-color: $gun-powder;
  max-height: 684px;
  height: 100%;
  overflow: hidden;
  .container{
    position: relative;
    height: 400px;
  }
  article {
    position: absolute;
    top: 25%;
  }
  .title-lg {
    letter-spacing: -2.12px;
    color: $white;
    margin-bottom: 26px;
  }
  form {
    max-width: 322px;
    font-size: 0;
    color: $white;
    input {
      width: 100%;
      margin-bottom: 10px;
      padding: 16px 20px;
      font-size: 16px;
      background-color: $storm-gray;
      border-radius: 3px;
      box-shadow: 0 0 8px 0 $storm-gray;
    }
    
  }
}
